*{
    padding: 0%;
    margin: 0%;
}
.menu{
    background-color:##156c8e;
}
footer {
    background-color: rgba(0, 0, 0, 0.8);
    height: 20vh;
    font-size: 2vw;
    text-align: center;
    color: aliceblue;
}

.texto_pie {
    padding-top: 5vh;
    font-size: 2vw;
    font-family: Montserrat;
}