* {
  padding: 0;
  margin: 0;
}

main {
  padding-top: 15vh;
  background-color: #e7e6e6;
}

main h1 {
  font-family: 'Arial', sans-serif; 
  font-size: 2.5rem; 
  color: #333; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
  margin-top: 20px; 
  text-align: center;
}

main h2, h3 {
  font-family: 'Arial', sans-serif; 
  font-size: 1.8rem;
  color: #666;
  text-align: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  background-color: #222;
  color: #fff;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
  position: fixed;
  width: 100%;
}

.nav-menu ul {
  display: flex;
  align-items: center;
}

.nav-menu li {
  margin-right: 1rem;
  list-style: none;

}

.nav-menu li a {
  text-decoration: none;
  color: #fff;
}

.nav-menu > ul > li:not(:first-child):hover {
  background: #4ad295;
  padding: .25rem .75rem;
  border-radius: .2rem;
}

.logo-img {
  width: 25%;
  height: 40%;
  border-radius: 2px; 
}

.cat-desp {
  position: relative;
  display: inline-block;
}

.cat-menu {
  display: none;
  position: absolute;
  background-color: #222;
  min-width: 160px;
  z-index: 1;
}

.cat-desp:hover .cat-menu {
  display: block;
}

/* Ocultar por defecto los elementos del menú desplegable */
.cat-menu li {
  display: none;
}

/* Mostrar los elementos del menú desplegable cuando se hace hover sobre .cat-desp */

.cat-desp:hover .cat-menu li {
  display: block;
}

/* Estilos para el hover en el menú desplegable */
.cat-menu li:hover {
  background: #4ad295;
  padding: .25rem .75rem;
  border-radius: .2rem;
}

/* Menu desplegable*/
@media (max-width:768px) {
  .cat-desp .cat-menu {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    display: none;
  }

  .cat-desp:hover .cat-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  header {
    display: flex;
    margin: auto;
    width: 100%;
  }

  .nav-menu ul {
    display: block;
    position: fixed;
    top: 70px;
    left: -150%;
    background: #222;
    width: 100%;
    height: 100vh;
    right: 0;
  }

  .nav-menu ul li {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .nav-menu ul li:last-child {
    background: none;
    padding: 1rem;
  }

  .nav-menu li a:hover {
    background: #4ad295;
    padding: .25rem .75rem;
    border-radius: .2rem;
  }
}

.footer {
  background: #222;
  color: white;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons{
  font-size: 200%;
  display: block;
  justify-content: center;
  position:relative;
  flex-direction: row;
  align-items: center;
  min-width: 400px;
  justify-content: center;
  text-align: center;
  margin-top: 1vw;
}

/* Estilos para la galería de imágenes */
.galeria {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

div {
  width: 100%;
}

div img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 1rem;
}

div img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .galeria {
    grid-template-columns: repeat(1, 1fr);
    /* Una imagen por fila en dispositivos móviles */
  }
}

/* Estilos para los botones "Ver más" en las secciones */
.button {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s;
  font-size: 1.2em;
  margin: 0 auto;
  margin-top: 1rem;
  /* Espacio entre las imágenes y el botón */
}

.button:hover {
  background-color:#4ad295;
  ;
}

/* Alinea todas las imágenes y el botón en la misma línea */
div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

div img {
  width: calc(12% - 1rem);
  /* Ancho del 25% con espacio entre las imágenes */
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-right: 1rem;
  /* Espacio entre las imágenes */
  margin-bottom: 6rem;
}

div img:last-child {
  margin-right: 0;
  margin-bottom: 0;
  /* Sin espacio a la derecha ni abajo para la última imagen */
}

div img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
div img {
    width: 100%;
    /* Ancho completo en dispositivos móviles */
    margin-right: 0;
    /* Sin espacio a la derecha en dispositivos móviles */
    margin-bottom: 1rem;
    /* Espacio entre las imágenes en dispositivos móviles */
  }
}


















