<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/png_d´amico.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <!-- menu de navegacion -->
        <div class="nav-menu">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="menu-icon"><img src="icons/icono menu desplegable.svg" alt=""></i>
            </label>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="hombres.html">Hombres</a></li>
                <li><a href="mujeres.html">Mujeres</a></li>
                <li><a href="ninos.html">Niños</a></li>
                <li><a href="registro.html">Registrarse</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </div>
    </header>
    <main>
        <h1>Ubicacion</h1>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3267.7994049575445!2d-58.8298333!3d-34.2521667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzTCsDE1JzA3LjgiUyA1OMKwNDknNDcuNCJX!5e1!3m2!1ses-419!2sve!4v1697690094826!5m2!1ses-419!2sve"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>
    <footer>
        <div>
            <h2 class="texto_pie"><i><b>D`Amico ©</b> all rights reserved</i></h2>
            <i class="fa-brands fa-facebook" style="font-size: 3.9vw;"></i>
            <i class="fa-brands fa-twitter" style="font-size: 3.9vw;"></i>
            <i class="fa-brands fa-instagram" style="font-size: 3.9vw;"></i>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/003123b854.js" crossorigin="anonymous"></script>
</body>

</html>