<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>

    </header>
    <main>

    </main>
    <footer>
        <div>
            <h2 class="texto_pie"><i><b>D`Amico ©</b> all rights reserved</i></h2>
            <i class="fa-brands fa-facebook" style="font-size: 3.9vw;"></i>
            <i class="fa-brands fa-twitter" style="font-size: 3.9vw;"></i>
            <i class="fa-brands fa-instagram" style="font-size: 3.9vw;"></i>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/003123b854.js" crossorigin="anonymous"></script>
</body>

</html>