<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/general.css">
    <title>Document</title>
</head>

<body>
    <header>
        <!-- Menú de navegación -->
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="hombres.html">Hombres</a>
            <a href="mujeres.html">Mujeres</a>
            <a href="ninos.html">Niños</a>
            <a href="registro.html">Registrarse</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>
    <main>

    </main>
    <footer>
        <div>
            <h2 class="texto_pie"><i><b>D`Amico ©</b> all rights reserved</i></h2>
            <i class="fa-brands fa-facebook" style="font-size: 3.9vw;"></i>
            <i class="fa-brands fa-twitter" style="font-size: 3.9vw;"></i>
            <i class="fa-brands fa-instagram" style="font-size: 3.9vw;"></i>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/003123b854.js" crossorigin="anonymous"></script>
</body>

</html>