<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/png_d´amico.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>D´amico Hombres</title>
</head>

<body>

    <header class="header">
        <!-- menu de navegacion -->
        <div class="nav-menu">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="menu-icon"><img src="icons/icono menu desplegable.svg" alt=""></i>
            </label>
            <img id="logo" src="img/png_d´amico.png" alt="">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="hombres.html">Hombres</a></li>
                <li><a href="mujeres.html">Mujeres</a></li>
                <li><a href="ninos.html">Niños</a></li>
                <li><a href="registro.html">Registrarse</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </div>
    </header>


    <main>
        <section>
            <a href=""><img src="../img/hombres/212men100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/212nyc_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/alharamain_amberoudruby100ml_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/armani_code_125ml_edt_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/amberoud_exclusif_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/antoniob_diavolo100ml_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/armaf_clubnuitmilestone105_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/benetton_philosophy100ml_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/bentley_formen100ml_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/bentley_infiniteedt100ml_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/bentley_infiniteintense100_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/bharara_vikingcairo100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/bharara_vikingdubai100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/bharara_vikingkashmir100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/burberry_formenedt100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/burberry_thebeat_men_100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/bvl_manblack_100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/bvlgari_manterraessence100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/bvlgari_ManWoodNeroli100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/bvlgari_pourhommeedt100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/calvink_oneshockhim200_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/NatuMatteBronzingPowder_28_300x.png" alt=""></a>
            <a href=""><img src="../img/hombres/carolinah_badboygoldfanasy100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/carolinaherrera_herreramen100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/carolinaherrera_badboyleparfum100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/ch_212menheroes50_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/chanel_bleu_100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/chanel_allure_homme_100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/charlottehot-2023-03-18T093521.225_300x.png" alt=""></a>
            <a href=""><img src="../img/hombres/charlottehot-2023-08-04T153859.611_300x.png" alt=""></a>
            <a href=""><img src="../img/hombres/chopard_1000miglia80ml_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/clinique_happy_men_100ml_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/coach_forMen100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/coach_openroad100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/cr7_eaudetoilette100_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/creedv_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/creed_aventus_her_75ml_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/davidoff_adventure100_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/dolcegabanaknegro_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/diesel_onlythebravetattoo125_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/diesel_zeroplus75ml_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/dior_hommeintenseedp100_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/diptyque_orpheon75_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/givenchy_linterditIntense80_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/givenchy_pourhomme100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/givenchy_xeryusrouge100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/guess_seductivenoirspay226_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/guess_seductiveredspay226_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/guess_uomo1981est100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/Guerlain_blackPerfecto100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/halloween_manShot125_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/hallowenman_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/haramain_amber_oud_gold_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/haramain_amber_oud_rouge_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/hugoBoss_EnergiseMan100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/HugoBoss_HugoXYMen100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/image_61_300x.png" alt=""></a>
            <a href=""><img src="../img/hombres/manhugo_300x.webp" alt=""></a>
            <a href=""><img src="../img/hombres/NatuMatteBronzingPowder_28_300x.png" alt=""></a>
            <a href=""><img src="../img/hombres/pasha_300x.webp" alt=""></a>
            <a href=""><img src="../img/hombres/sauvage_100_ml_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/valentino_borninromaedt100_200x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/valentino_uomo100_200x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/valentino_uomo_100ml_200x.jpeg" alt=""></a>
            <a href=""><img src="../img/hombres/guess_manedt75_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/guess_manforever75_300x.jpg" alt=""></a>
            <a href=""><img src="../img/hombres/guessgold75_300x.jpg" alt=""></a>
        </section>
        <script src="../js/redirigidor.js"></script>

    </main>

    <!-- Pie de página -->
    <footer>
        <div>
            <div>
                <h2 class="texto_pie"><i><b>D`Amico ©</b> all rights reserved</i></h2>
                <i class="fa-brands fa-facebook" style="font-size: 2.9vw;"></i>
                <i class="fa-brands fa-twitter" style="font-size: 2.9vw;"></i>
                <i class="fa-brands fa-instagram" style="font-size: 2.9vw;"></i>
            </div>
    </footer>

    <script src="https://kit.fontawesome.com/003123b854.js" crossorigin="anonymous"></script>
</body>

</html>