<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/png_d´amico.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>D´amico Mujeres</title>
</head>

<body>

    <header class="header">
        <!-- menu de navegacion -->
        <div class="nav-menu">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="menu-icon"><img src="icons/icono menu desplegable.svg" alt=""></i>
            </label>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="hombres.html">Hombres</a></li>
                <li><a href="mujeres.html">Mujeres</a></li>
                <li><a href="ninos.html">Niños</a></li>
                <li><a href="registro.html">Registrarse</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </div>
    </header>

    <main>
        <section>
            <a href=""><img src="../img/mujeres/54035ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/alarose_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/arianagrande_ari100_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/mujeres/armani_diamonds100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/armani_si_100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/armani_si_pass_100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/britney_spears_believe_100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/bvlgari_aqvamarine100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/bvlgari_omniaparaibaedt65ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/cacharel_noa100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/cacharel_yesiamfabulous50ml_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/mujeres/calvinKlein_eternityMoment100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/calvinklein_eternitywomen100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/cartier_baiservole100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/ch_goodgirl80_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/mujeres/chance-de-chanel_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/chance-eau-tendre_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/chanel_coco_mademo_100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/chanel_n5Leau50_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/chanel_nro5_100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/charlottehot-2023-06-23T130659.014_300x.png" alt=""></a>
            <a href=""><img src="../img/mujeres/charlottehot-2023-08-05T113227.953_300x.png" alt=""></a>
            <a href=""><img src="../img/mujeres/chloe_nomadesetgift_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/cklein_women_100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/coach_wildrose90ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/Chanel-Chance-Eau-Tendre-EDP-100ml-1_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/CREED-LOVEwhite_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/davidoff_coolwater_wom_100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/dior_missdioredt100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/dior_missdiorrosenroses100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/dior_poisongirlunexpected100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/dior_purepoison100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/dolcegabana_dolce75ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/dolcegabana_pourfemme100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/dolcegabbana_DolceShine75_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/dolcegabbana_goldtheone75_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/dolcegabbana_lightblueforever100_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/mujeres/dolceGabbana_lightblueIntenseWomen100_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/mujeres/dolcegabbana_lightblueset_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/dolcegabbana_queen100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/dolgabb_lightblue_100ml_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/mujeres/donnakaran_cashmeremist100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/dsquared2_redwood100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/Dior_AddictEauParfum100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/Dior_hipnoticPoison100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/Dior_PoisonGirlEauToilette100_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/mujeres/DKNY_bedeli_100ml_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/mujeres/emporioarmani_inlovewithyou100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/escada_sentiment75_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/escadaisland_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/girl_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/givenchy_Amarige100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/givenchy_AngeDemon100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/givenchy_angedemon50ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/givenchy_DahliaDivin75_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/givenchy_Ysatis100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/godisw_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/gucci_BloomAcquaFiori100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/gucci_bloomfiori100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/gucci_BloomNettareFiori50_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/gucci_guilty_fem_90ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/guccibloom_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/guerlain_monbloomrose100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/Guerlain_LapetiteRoseNoise100_300x.jpg" alt=""></a>
            <a href=""><img
                    src="../img/mujeres/hermes_eaudesmerveilles100_53e5b755-51c1-4cb7-a0dd-f7fb5fb23b5f_300x.jpg"
                    alt=""></a>
            <a href=""><img src="../img/mujeres/hermes_unjardinsurlenil100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/mujeres/hugoboss_alive80_300x.jpg" alt=""></a>
            <script src="../js/redirigidor.js"></script>
        </section>
    </main>

    <!-- Pie de página -->
    <footer>
        <div>
            <h2 class="texto_pie"><i><b>D`Amico ©</b> all rights reserved</i></h2>
            <i class="fa-brands fa-facebook" style="font-size: 2.9vw;"></i>
            <i class="fa-brands fa-twitter" style="font-size: 2.9vw;"></i>
            <i class="fa-brands fa-instagram" style="font-size: 2.9vw;"></i>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/003123b854.js" crossorigin="anonymous"></script>


</body>

</html>