<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/hopitalicono.ico" type="image/x-icon">
    <title>D´amico Hombres</title>
</head>

<body>

    <header>
        <!-- Menú de navegación -->
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="hombres.html">Hombres</a>
            <a href="mujeres.html">Mujeres</a>
            <a href="registro.html">Registrarse</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>
    <main>

    </main>

    <!-- Pie de página -->
    <footer>
        <p><i><b>D`Amico ©</b> all rights reserved</i></p>
    </footer>
</body>

</html>