<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/png_d´amico.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>D´amico Niños</title>
</head>

<body>

    <header class="header">
        <!-- menu de navegacion -->
        <div class="nav-menu">
            <ul>
                <li><a href="../index.html"><img src="/img/png_d´amico.ico" alt
                            class="logo-img"></a></li>
                <li><a href="../index.html">Inicio</a></li>
                <li class="cat-desp">
                    <a href="#">Categorías</a>
                    <ul class="cat-menu">
                        <li><a href="hombres.html">Hombres</a></li>
                        <li><a href="mujeres.html">Mujeres</a></li>
                        <li><a href="ninos.html">Niños</a></li>
                    </ul>
                </li>
                <li><a href="registro.html">Registrarse</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section>
            <a href=""><img src="../img/niños/charlottehot-2023-04-06T162638.858_300x.png" alt=""></a>
            <a href=""><img src="../img/niños/disney_frozen2annaedt100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/niños/disney_frozeneaudetoilette100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/niños/disney_frozensetgift_300x.jpg" alt=""></a>
            <a href=""><img src="../img/niños/disney_princessCinderella100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/niños/disneyFrozen_olaf100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/niños/mickey_mouse_100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/niños/mickeymouse_setgift_300x.jpeg" alt=""></a>
            <a href=""><img src="../img/niños/minnie_mouse_100ml_300x.jpg" alt=""></a>
            <a href=""><img src="../img/niños/minnie_setedt50showergel100_300x.jpg" alt=""></a>
            <a href=""><img src="../img/niños/princess_bella_100ml_300x.jpg" alt=""></a>
            <script src="../js/redirigidor.js"></script>
        </section>
    </main>

    <!-- Pie de página -->
    <footer>
        <section class="footer">
            <h2><i><b>D`Amico ©</b> all rights reserved</i></h2>
            <div class="social-icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-solid fa-envelope"></i>
            </div>
        </section>
    </footer>

    <script src="https://kit.fontawesome.com/003123b854.js" crossorigin="anonymous"></script>
</body>

</html>