<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/hopitalicono.ico" type="image/x-icon">
    <title>D´amico Hombres</title>
</head>

<body>

    <header>
        <!-- Menú de navegación -->
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="hombres.html">Hombres</a>
            <a href="mujeres.html">Mujeres</a>
            <a href="registro.html">Registrarse</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>
    <main>
        <a href=""><img src="../img/niños/charlottehot-2023-04-06T162638.858_300x.png" alt=""></a>
        <a href=""><img src="../img/niños/disney_frozen2annaedt100_300x.jpg" alt=""></a>
        <a href=""><img src="../img/niños/disney_frozeneaudetoilette100ml_300x.jpg" alt=""></a>
        <a href=""><img src="../img/niños/disney_frozensetgift_300x.jpg" alt=""></a>
        <a href=""><img src="../img/niños/disney_princessCinderella100_300x.jpg" alt=""></a>
        <a href=""><img src="../img/niños/disneyFrozen_olaf100ml_300x.jpg" alt=""></a>
        <a href=""><img src="../img/niños/mickey_mouse_100ml_300x.jpg" alt=""></a>
        <a href=""><img src="../img/niños/mickeymouse_setgift_300x.jpeg" alt=""></a>
        <a href=""><img src="../img/niños/minnie_mouse_100ml_300x.jpg" alt=""></a>
        <a href=""><img src="../img/niños/minnie_setedt50showergel100_300x.jpg" alt=""></a>
        <a href=""><img src="../img/niños/princess_bella_100ml_300x.jpg" alt=""></a>
    </main>

    <!-- Pie de página -->
    <footer>
        <p><i><b>D`Amico ©</b> all rights reserved</i></p>
    </footer>
</body>

</html>