<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Incorporación de audio, video y estructura de tabla en HTML">
    <!-- Incorporación de la imagen ico -->
    <link rel="shortcut icon" href="../img/png_d´amico.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Registrarse</title>

</head>

<body>
    <header class="header">
        <!-- menu de navegacion -->
        <div class="nav-menu">
            <ul>
                <li><a href="../index.html"><img src="/img/png_d´amico.ico" alt
                            class="logo-img"></a></li>
                <li><a href="../index.html">Inicio</a></li>
                <li class="cat-desp">
                    <a href="#">Categorías </a><span class="sub-arrow">▼</span>
                    <ul class="cat-menu">
                        <li><a href="hombres.html">Hombres</a></li>
                        <li><a href="mujeres.html">Mujeres</a></li>
                        <li><a href="ninos.html">Niños</a></li>
                    </ul>
                </li>
                <li><a href="registro.html">Registrarse</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </div>
    </header>
    <main>
        <!--Contenido-->

        <h1>Contacto</h1>

        <div>

            <section class="formu">
                <h2>Formulario de registro</h2>
                <form action="show_data.html" target="_blank">
                    <label for="firstname">Nombre: </label><input size="30" type="text" name="firstname"
                        placeholder="Ingrese su nombre aqui...">
                    <label for="lastname">Apellido:</label><input size="30" type="text" name="lastname"
                        placeholder="Ingrese su apellido aqui...">
                    <label for="street">Direccion:</label><input type="text" name="address"
                        placeholder="Ingrese su dirección aqui...">
                    <label for="number">Numero:</label><input type="number" name="number"
                        placeholder="Ingrese el numero..">

                    <label for="telefono">Telefono: </label><input type="tel" name="telefono"
                        placeholder="ingrese su telefono aqui ....">
                    <label for="BirthDate">Fecha Nac.(dd/mm/yyyy): </label> <input type="date" name="birthdate">
                    <label for="mail">Correo: </label><input type="email" name="mail">
                    <label for="clave">Contraseña: </label><input type="password" name="clave">
                    <label for="rclave">Repita su contraseña: </label><input type="password" name="rclave">
                    <input type="submit" value="Enviar">
                    <button type="reset">Reset</button>
                </form>
                <p>Si usted hace click en el boton "Enviar", la informacion sera enviada a la pagina
                    "recepcion_formulario.html".</p>

                <h2>Contacto e-mail</h2>
                <a href="mailto:">Enviar correo</a>

            </section>


    </main>

    <!-- Pie de página -->
    <footer>
        <section class="footer">
            <h2><i><b>D`Amico ©</b> all rights reserved</i></h2>
            <div class="social-icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-solid fa-envelope"></i>
            </div>
        </section>
    </footer>

    <script src="https://kit.fontawesome.com/003123b854.js" crossorigin="anonymous"></script>
</body>

</html>